extends layout

block content 
  -var vehicleData 
  -var partName 
  -var subpartName = subpartName||"EnginePower"
  div(id="wrapper").d-flex
    //- Page Content
    div(id="page-content-wrapper")
        -var page="Engine"
        include navbar.pug 
        .container-fluid
            .row.flex-nowrap
                include vehicleNav
                .col.py-3
                    h1 Motor

                    ul.nav.nav-pills
                        li.nav-item 
                            a(
                                class="nav-link "+(subpartName=="EnginePower"?"active":"") 
                                href=(subpartName=="EnginePower"?"#":"/Engine/EnginePower?vehicleId="+vehicleData.id) 
                            ) Potencia
                        li.nav-item 
                            a(
                                class="nav-link "+(subpartName=="EngineForce"?"active":"") 
                                href=(subpartName=="EngineForce"?"#":"/Engine/EngineForce?vehicleId="+vehicleData.id)
                            ) Fuerzas
                        li.nav-item 
                            a(
                                class="nav-link "+(subpartName=="Overbore"?"active":"") 
                                href=(subpartName=="Overbore"?"#":"/Engine/Overbore?vehicleId="+vehicleData.id)
                            ) Rectificación
                        li.nav-item 
                            a(
                                class="nav-link "+(subpartName=="Exhaust"?"active":"") 
                                href=(subpartName=="Exhaust"?"#":"/Engine/Exhaust?vehicleId="+vehicleData.id)
                            ) Toberas
                    .row
                        case subpartName 
                            when "EnginePower"
                                include enginePower 
                            when "EngineForce"
                                //-include engineForce 
                            when "Overbore"
                                //-include overbore 
                            when "Exhaust"
                                //-include exhaust

            
