extends layout

block content 
  -var vehicleData 
  -var partName 
  -var subpartName = subpartName||"GearboxMain"
  div(id="wrapper").d-flex
    div(id="page-content-wrapper")
        -var page="Gearbox"
        include navbar.pug 
        .container-fluid
            .row.flex-nowrap
                include vehicleNav
                .col.py-3
                    h1 Caja de Cambios
                    ul.nav.nav-pills
                      li.nav-item 
                        a(
                          class="nav-link "+(subpartName=="GearboxMain"?"active":"")
                          href=(subpartName=="GearboxMain"?"#":"/Gearbox?vehicleId=" + vehicleData.id)
                        ) Datos Caja de Cambios 
                      li.nav-item 
                        if vehicleData.hasOwnProperty("Gearbox")
                          a(
                            class="nav-link "+(subpartName=="GearboxMod"?"active":"")
                            href=(subpartName=="GearboxMod"?"#":"/Gearbox/GearboxMod?vehicleId=" + vehicleData.id)
                          ) Modificaci贸n Caja de Cambios 
                        else
                          span(
                            tabindex="0"
                            data-bs-toggle="tooltip"
                            title="Debe guardar la secci贸n Datos Caja de Cambios para habilitar esta opci贸n"
                          )
                            a.nav-link.disabled Modificaci贸n Caja de Cambios 
                    .row 
                      case subpartName 
                        when "GearboxMain"
                          include gearboxMain 
                        when "GearboxMod"
                          include gearboxMod 

            
