extends layout 
block content
    -var vehicleId 
    -var vehicleData
    -var partName="Vehicle"
    -var subPartName=""
    div(id="wrapper").d-flex
        div(id="page-content-wrapper")
                //- navbar
                include navbar.pug 
                .container-fluid
                    - var page = "vehicleData"
                    include vehicleNav
                    h1 Datos del Vehículo
                    form(id="cardata_form" novalidate action="/" method="post").needs-validation
                        .row 
                            .col-lg-6 
                                include carData
                            .col-lg-6
                                h3 Cálculos básicos del motor
                                .row
                                    strong Cilindrada unitaria: 
                                    - var unitaryDisplacementVal=unitRE.exec(getProperty(vehicleData, "Engine.unitaryDisplacement")||"0 m^3")[1]
                                    - var unitaryDisplacementUnits=unitRE.exec(getProperty(vehicleData, "Engine.unitaryDisplacement")||"0 m^3")[2]
                                    span(data-bound="Engine.unitaryDisplacement")=unitaryDisplacementVal   
                                        +unitButton(unitaryDisplacementUnits, {
                                            "m^3":"m³",
                                            "cm^3":"cm³",
                                            "in^3":"in³",
                                            "l":"lt"
                                        },"Engine.unitaryDisplacement")
                                .row
                                    strong Volumen cámara de combustión: 
                                    -var combustionChamberVol=unitRE.exec(getProperty(vehicleData, "Engine.combustionChamberVolume")||"0 m^3")[1]
                                    -var combuistionChamberVolUnits=unitRE.exec(getProperty(vehicleData, "Engine.unitaryDisplacement")||"0 m^3")[2]
                                    span(data-bound="Engine.combustionChamberVolume")=combustionChamberVol 
                                        +unitButton(combuistionChamberVolUnits, {
                                            "m^3":"m³",
                                            "cm^3":"cm³",
                                            "in^3":"in³",
                                            "l":"lt"
                                        },"Engine.combustionChamberVolume")
                                
    script(src="/javascripts/formControls.js")
    script.
        //Scripts
        var vehicleData= !{JSON.stringify(vehicleData)};
        const partName="#{partName}";
        const subpartName="#{subpartName}";        
        document.addEventListener("DOMContentLoaded", ()=> {
            setUnitSelectEventListener();
            setInputEventListener();
            setUnitButtonListener();
        })

